/* Field wrapper: */
.relationship-field {
	background-color: white;
}

/* Wrapper for the lists: */
.relationship-lists {
	display: flex;
	flex-wrap: wrap;
	border: 1px solid #ddd;
}

/* Default styling for the lists: */
.relationship-list {
	flex: 1 0 14em;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	height: 13em;
	margin: 0;
	padding: 0.5em;
	border: 1px solid #ddd;
	background-color: white;
	list-style: none;
}

/* Reset native button styles: */
.relationship-list button {
	border: none;
	background: none;
	margin: 0;
	padding: 0;
	color: inherit;
}

.relationship-list button:not([disabled]) {
	cursor: pointer;
}

/* Default styling for all list items: */
.relationship-list li {
	position: relative;
	padding: 0.31em 0.5em;
	padding-right: 2em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
}

.relationship-list li[aria-hidden="true"] {
	display: none;
}

.relationship-list li .icon-sort {
	color: #ccc;
}

.relationship-list li .icon-add,
.relationship-list li .icon-delete {
	position: absolute;
	right: 0.5em;
}

/* Hide the checkboxes: */
.relationship-list li input[type="checkbox"] {
	display: none;
}

/* List with available items: */
.relationship-list--available {
	background-color: #f7f7f7;
}

.relationship-list--available li:not([aria-disabled="true"]):hover {
	background-color: rgba(0, 0, 0, 0.075);
}

.relationship-list--available li[aria-disabled="true"] {
	color: #777;
}

.relationship-list--available li .icon-sort,
.relationship-list--available li .icon-delete,
.relationship-list--available li[aria-disabled="true"] .icon-add {
	display: none;
}

/* Selected list items: */
.relationship-list--selected li {
	cursor: move;
}

.relationship-list--selected li .icon-add {
	display: none;
}

/* List item during sorting: */
.relationship-list--selected li.ui-sortable-helper {
	background-color: white;
	border-radius: 2px;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
	transition: box-shadow 150ms ease-out;
}

/* Placeholder item when sorting: */
.relationship-list--selected li.ui-sortable-placeholder {
	background-color: rgba(0, 0, 0, 0.025);
}

/* Search input: */
.relationship-search {
	position: relative;
}

.relationship-search .input {
	padding-left: 2.5em;
	margin-bottom: -2px; /* Prevent double borders */
}

.relationship-search .icon {
	position: absolute;
	top: calc(50% - 0.5em);
	left: 2px;
	width: 3em;
	color: #777;
}
