/* Wrapper for the lists: */
.relationship-lists {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	border: 1px solid #ddd;
}

/* Default styling for the lists: */
.relationship-list {
	-webkit-flex: 1 0 14em;
	    -ms-flex: 1 0 14em;
	        flex: 1 0 14em;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	height: 12em;
	margin: 0;
	padding: 0.5em;
	border: 1px solid #ddd;
	background-color: white;
	list-style: none;
}

/* List in focus, add a green 2px border: */
.relationship-list:focus {
	border-color: #8dae28; /* Only 1px */
	box-shadow: 0px 0px 0px 1px #8dae28; /* Add another 1px border */
	outline: none;
	position: relative; /* Prevent border to go underneath the other list */
}

/* List in focus when field has validation errors: */
.field-with-error .relationship-list:focus {
	border-color: #000;
	box-shadow: 0px 0px 0px 1px #000;
}

/* Readonly state for the lists: */
.relationship-list[aria-readonly="true"] {
	color: #777;
	background-color: transparent;
	filter: grayscale(100%);
	pointer-events: none;
}

/* Reset native button styles: */
.relationship-list button {
	border: none;
	background: none;
	margin: 0;
	padding: 0;
	color: inherit;
}

.relationship-list button:not([disabled]) {
	cursor: pointer;
}

/* Default styling for all list items: */
.relationship-list li {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 0.25em;
	overflow: hidden;
	cursor: pointer;
}

.relationship-list li > * {
	margin: 0 0.25em;
	
	/* Workaround for a bug in IE 10: Inline elements are not treated as flex-items */
	/* https://github.com/philipwalton/flexbugs#12-inline-elements-are-not-treated-as-flex-items */
	display: block;
}

.relationship-list li[aria-hidden="true"] {
	display: none;
}

.relationship-list li .relationship-item-label {
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.relationship-list li .relationship-item-sort {
	color: #ccc;
}

.relationship-list li .relationship-item-thumb {
	width: 1.375em;
	height: 1.375em;
	margin-top: -0.1875em;
	margin-bottom: -0.1875em;
	object-fit: cover;
	border-radius: 12%;
}

/* Hide the checkboxes: */
.relationship-list li input[type="checkbox"] {
	display: none;
}

/* List with available items: */
.relationship-list--available {
	background-color: #f7f7f7;
}

.relationship-list--available:focus li.is-focused {
	background-color: rgba(0, 0, 0, 0.075);
}

.relationship-list--available li[aria-selected="true"] {
	color: #777;
}

.relationship-list--available li[aria-selected="true"] .relationship-item-thumb {
	opacity: 0.2;
	filter: grayscale(100%);
}

.relationship-list--available li .relationship-item-sort,
.relationship-list--available li .relationship-item-delete,
.relationship-list--available li[aria-selected="true"] .relationship-item-add {
	display: none;
}

.relationship-list--available[data-add="disabled"] .relationship-item-add {
	opacity: 0.2;
	cursor: not-allowed;
}

/* Selected list items: */
.relationship-list--selected li {
	cursor: move;
	transition: box-shadow 150ms ease-out;
}

.relationship-list--selected li .relationship-item-add {
	display: none;
}

.relationship-list--selected[data-delete="disabled"] .relationship-item-delete {
	opacity: 0.2;
	cursor: not-allowed;
}

.relationship-list--selected:focus li.is-focused {
	background-color: rgba(0, 0, 0, 0.075);
}

/* List item during sorting: */
.relationship-list--selected[data-sortable="true"]:focus li[aria-selected="true"],
.relationship-list--selected[data-sortable="true"] li.ui-sortable-helper {
	background-color: white;
	border-radius: 2px;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

/* Placeholder item when sorting: */
.relationship-list--selected[data-sortable="true"] li.ui-sortable-placeholder {
	background-color: rgba(0, 0, 0, 0.025);
}

/* Search input: */
.relationship-search {
	position: relative;
}

.relationship-search .input {
	padding-left: 2.5em;
	margin-bottom: -2px; /* Prevent double borders */
}

.relationship-search .icon {
	position: absolute;
	top: calc(50% - 0.5em);
	left: 2px;
	width: 3em;
	color: #777;
}
